@font-face {
    font-family: 'vlated_bold';
    src: url('../resources/font/vlated_bold_script-webfont.woff2') format('woff2'),
    url('../resources/font/vlated_bold_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'vlated_bold';
    margin: 0;
    color: white;
}

@media screen and (max-width: 900px) {
    body {
        background-size: 200vh;
        background-position: bottom;
        height: 100%;
    }
}


@media screen and (min-width: 900px) and (max-width: 1200px) {
    body {
        background-size: 200vw;
        background-position: top;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-size: 100vw;
    }
}

body {
    overflow: hidden;
}

#foreground h2,
#foreground h3,
#intro h2,
#intro h3 {
    margin: 20px;
}

#foreground h2, 
#intro h2 {
    font-size: 50px;
}

#intro, #foreground h3 {
    font-size: 40px;
    white-space: nowrap;
}

#intro hr,
#foreground hr {
    width: 100px;
    border: 3px solid;
    border-radius: 20px;
    margin: auto;
}

#foreground, #intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
}

.container {
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
}

.noise {
    background-image: url("./resources/noise.png");
    opacity: 20%;
}



